<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application

        android:allowBackup="true"
        android:icon="@drawable/tajweed0"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tajweedround"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true"
                tools:targetApi="23">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.drmiaji.com"
                    android:pathPattern="/apps" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:parentActivityName=".MainActivity"
             />
        <activity
            android:name=".Intro0"
            android:parentActivityName=".Main2Activity"
             />
        <activity
            android:name=".Intro1"
            android:parentActivityName=".Main2Activity"
             />
        <activity
            android:name=".Chap01"
            android:parentActivityName=".Main2Activity"
             />
        <activity
            android:name=".Chap02"
            android:parentActivityName=".Main2Activity"
             />
        <activity
            android:name=".Chap03"
            android:parentActivityName=".Main2Activity"
            />
        <activity
            android:name=".Chap04"
            android:parentActivityName=".Main2Activity"
            />
        <activity
            android:name=".Chap05"
            android:parentActivityName=".Main2Activity"
            />
        <activity
            android:name=".Chap06"
            android:parentActivityName=".Main2Activity"
            />
        <activity
            android:name=".Chap07"
            android:parentActivityName=".Main2Activity"
            />
        <activity
            android:name=".Chap08"
            android:parentActivityName=".Main2Activity"
            />
        <activity
            android:name=".Chap09"
            android:parentActivityName=".Main2Activity"
            />
        <activity
            android:name=".Chap10"
            android:parentActivityName=".Main2Activity"
            />
        <activity
            android:name=".Chap11"
            android:parentActivityName=".Main2Activity"
            />
        <activity
            android:name=".Chap12"
            android:parentActivityName=".Main2Activity"
            />
        <activity
            android:name=".Chap13"
            android:parentActivityName=".Main2Activity"
            />
        <activity
            android:name=".Chap14"
            android:parentActivityName=".Main2Activity"
            />
        <activity
            android:name=".Chap15"
            android:parentActivityName=".Main2Activity"
            />
        <activity
            android:name=".Chap16"
            android:parentActivityName=".Main2Activity"
            />
        <activity
            android:name=".Chap17"
            android:parentActivityName=".Main2Activity"
            />
        <activity
            android:name=".About"
            android:parentActivityName=".Main2Activity"
             />

    </application>

</manifest>